
@{
    ViewData["Title"] = "AboutUs";
}

<h1>AboutUs</h1>
<br />
<br />
Stock Picking Strategy:
<br />
<br />

Here we are uing 4 API's to form our startegy to pick up the best stocks, we are using API's : 1. Company Name ; 2. Dividends ; 3. Previous ; 4. Market Trends.
<br />
We have created 4 views. 1. Home Page, 2. Dividends, 3. Previous and 4. Market


<br />
There are some API's where there is missing data at present. Therefore at present this model is not able to completely derive the best stock picking results.
<br />

<br />
Ankur created model class, controllers, database tables and deployed the website on Azure.
<br />
<br />
Said helped in creating the startegy and making views.
<br />
<br />
Here is the link to our Git Hub repository
<br />
<br />
https://github.com/ankursrivastavaa/API_Assignment
<br />
<br />
</div>
